* {
	font-size: 12px;
	font-family: "JetBrainsMono Nerd Font", "Fira Code", "Hack", "monospace";
	border: none;
	border-radius: 8px;
	padding: 0 0px;
	color: #D8DEE9; /* nord4 */
}
window#waybar {
  background-color: rgba(46, 52, 64, 0); /* nord0 */
}

#custom-bat.high {
	color: #A3BE8C; /* nord green */
}
#custom-cpu.cool,	
#custom-gpu.cool {
	color: #81A1C1; /*nord9 blue*/
}
#custom-bat.mid,
#custom-cpu.warm,
#custom-gpu.warm {
	color: #EBCB8B; /*nord13 yellow*/
}
#custom-bat.low,
#custom-cpu.hot,
#custom-gpu.hot {
	color: #BF616A; /*nord11 red*/
}

/* Modules */
#workspaces button {
  background: transparent;
  color: #D8DEE9; /* nord4 */
  padding: 2px 0px;
}

#workspaces button.focused {
  background: #434C5E; /* nord2 */
  border-radius: 6px;
  color: #88C0D0; /* nord8 */
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#backlight,
#tray,
#custom-gpu,
#custom-cpu,
#custom-bat {
  background-color: #3B4252; /* nord1 */
  margin: 4px 0px;
  padding: 10px 0px;
  border-radius: 6px;
}

/* Hover effects */
#workspaces button:hover,
#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#network:hover,
#pulseaudio:hover,
#backlight:hover,
#custom-gpu:hover,
#custom-cpu:hover,
#custom-batteries:hover {
  background: #434C5E; /* nord2 */
}

/* Tooltip */
tooltip {
  background: #3B4252; /* nord1 */
  border: 1px solid #4C566A; /* nord3 */
  color: #ECEFF4; /* nord6 */
}

